body.dark {
    margin: 0px;
    padding: 1rem;
    background-color: black;
    color: white;
}

p.dark {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1.dark {
    font-family: 'Roboto', sans-serif;
    font-size: 50dp;
    color: white;
}

.dark #navhate {
    height: 40px;
    width: 40px;
}

button.dark {
    border: 2px solid white;
    color: white;
    box-shadow: 0 9px #969da8;
}

button.dark:hover {
    background-color: red;
    color: black;
}